# OSRS FLIPPING

In [3]:
import pandas as pd
import requests as req
import json

### Initialises dataframe

In [4]:
baseURL = "https://rsbuddy.com/exchange/summary.json";

call = req.request("GET",url=baseURL)
temp = pd.read_json(call.text)

df = temp.transpose()

def get_margin_price(row):
    if(row["sell_average"] > row["buy_average"]):
        return row["sell_average"]-row["buy_average"]
    else:
        return row["buy_average"]-row["sell_average"]    
      
def get_margin_quantity(row):
    if(row["sell_quantity"]> row["buy_quantity"]):
        return row["sell_quantity"]-row["buy_quantity"]
    else:
        return row["buy_quantity"]-row["sell_quantity"]
    

df["margin_price"] = df.apply(lambda row: get_margin_price(row), axis=1 )
df["margin_quantity"] = df.apply(lambda row: get_margin_quantity(row), axis=1)

df = df[["id","name","members", "buy_average", "sell_average", "buy_quantity", "sell_quantity", "margin_price", "margin_quantity"]]
df.sample(5)

,id,name,members,buy_average,sell_average,buy_quantity,sell_quantity,margin_price,margin_quantity
97,97,Harralander potion (unf),True,0,847,0,2,847,2
1654,1654,Gold necklace,False,109,0,1,0,109,1
58,58,Willow longbow (u),True,0,51,0,1,51,1
2922,2922,Yellow gloves,False,850,0,1,0,850,1
1929,1929,Bucket of water,False,37,33,10,1704,4,1694

### Free to play items with good margins

In [18]:
df_filtered = df[(df["buy_quantity"] > 1000) & (df["sell_quantity"] > 1000)]
df_filtered = df_filtered[df_filtered["margin_quantity"] < 1000]
df_filtered[df_filtered["members"]==False]  \
    .sort_values(by=["margin_price","margin_quantity"], ascending= [False, False])

,id,name,members,buy_average,sell_average,buy_quantity,sell_quantity,margin_price,margin_quantity
851,851,Maple longbow,False,218,205,2700,1935,13,765
1517,1517,Maple logs,False,8,7,15000,15088,1,88

## Get daily graph for item

In [7]:
import datetime
import plotly

In [19]:
base_URI = "http://services.runescape.com/m=itemdb_oldschool/api/graph/"
item = "Uncut sapphire"
itemIdDF = pd.read_csv("./data/AllItemIDs.csv")
itemID = itemIdDF[itemIdDF["name"]==item].index.values[0]

In [20]:
print(itemID)

860

In [ ]:
r =req.get(base_URI+str(itemID)+".json")
json_data = json.loads(r.text)
dailyPriceJSON = json_data['daily']

def convert_to_datetime(row):
    epoch_time = str(row['timestamp'])[0: 10]
    return datetime.datetime.fromtimestamp(float(epoch_time)).strftime('%d/%m/%Y')

dailyPriceDF = pd.DataFrame(dailyPriceJSON.items(), columns= ["timestamp", "price"])
dailyPriceDF['timestamp_formatted'] = dailyPriceDF.apply(lambda row: convert_to_datetime(row), axis=1)
dailyPriceDF

### Member item list

In [67]:
df_members = df.loc[df["members"]==True][["name", "buy_average", "sell_average", "buy_quantity", "margin"]]
df_members

                          name buy_average sell_average buy_quantity  margin
2                   Cannonball         146          145       329621       1
6                  Cannon base      185503       184352            1    1151
8                 Cannon stand      188064       187105            1     959
10              Cannon barrels      185260       185061            1     199
12              Cannon furnace      189715       188536            1    1179
28            Insect repellent         184            0            1     184
30               Bucket of wax        1450            0            5    1450
36                      Candle         585          525           16      60
39            Bronze arrowtips           6            5         2300       1
40              Iron arrowtips          12            8         8105       4
41             Steel arrowtips          33           33         3000       0
42           Mithril arrowtips           0            0            0       0
43           Adamant arrowtips         110          108         2000       2
44              Rune arrowtips           0          205            0     205
45              Opal bolt tips           0            2            0       2
46             Pearl bolt tips           0            0            0       0
47               Barb bolttips           0            0            0       0
48                 Longbow (u)           0           10            0      10
50                Shortbow (u)           0            1            0       1
52                 Arrow shaft           1            1        17007       0
53              Headless arrow           8            9        20600       1
54            Oak shortbow (u)          10            6            1       4
56             Oak longbow (u)          17            0          948      17
58          Willow longbow (u)          35           33        10000       2
60         Willow shortbow (u)          50           35          153      15
62           Maple longbow (u)          60           58         4001       2
64          Maple shortbow (u)          74           62            1      12
66             Yew longbow (u)         319          303            1      16
68            Yew shortbow (u)           0           69            0      69
70           Magic longbow (u)        1020         1038        10000      18
...                        ...         ...          ...          ...     ...
7664         Guthix balance(2)           0            0            0       0
7666         Guthix balance(1)           0            0            0       0
7668              Gadderhammer           0            0            0       0
7759               Toy soldier        1587            0            1    1587
7761       Toy soldier (wound)        2129            0            1    2129
7763                  Toy doll        2944            0            2    2944
7765          Toy doll (wound)        2084            0            1    2084
7767                 Toy mouse        1030         1021            1       9
7769         Toy mouse (wound)         490            0            1     490
7771                   Toy cat        5000            0           12    5000
7801                Snake hide           0            0            0       0
7919            Bottle of wine           0            0            0       0
7939            Tortoise shell           0            0            0       0
7944              Raw monkfish         297          299          805       2
7946                  Monkfish         385          383         5294       2
8007          Varrock teleport         481          473          945       8
8008        Lumbridge teleport         769          785          410      16
8009          Falador teleport         465          452          577      13
8010          Camelot teleport         341          330          652      11
8011         Ardougne teleport         485          473          375      12
8012       Watchtower teleport         171            0            1     171
8013         Teleport to house         495          499         4673       4
8014          Bones to bananas           0          586            0     586
8015          Bones to peaches         807          760          470      47
8016  Enchant sapphire or opal           0            0            0       0
8017   Enchant emerald or jade           0            0            0       0
8018     Enchant ruby or topaz           0            0            0       0
8019           Enchant diamond           0            0            0       0
8020       Enchant dragonstone           0            0            0       0
8021              Enchant onyx           0            0            0       0

[2852 rows x 5 columns]

### Non member list sorted by buy quantity

In [7]:
df_non_members = df[df["members"]==False] [["name", "buy_average", "sell_average", "buy_quantity", "margin"]]
df_non_members.sort_values(by="buy_quantity", ascending= False)

                      name buy_average sell_average buy_quantity  margin
560             Death rune         206          208       550522       2
562             Chaos rune          77           78       524588       1
554              Fire rune           4            4       505960       0
447            Mithril ore         139          143       388606       4
7936          Pure essence           2            2       306968       0
556               Air rune           4            4       257025       0
2353             Steel bar         383          380       232335       3
561            Nature rune         207          206       211453       1
314                Feather           2            2       199028       0
453                   Coal         142          141       196803       1
558              Mind rune           4            3       154375       1
440               Iron ore          77           77       153335       0
555             Water rune           5            4       129582       1
564            Cosmic rune         140          137       123366       3
563               Law rune         181          180        95593       1
444               Gold ore         311          311        52707       0
2357              Gold bar          94           92        49621       2
227          Vial of water           4            3        48505       1
2361        Adamantite bar        2013         2013        47976       0
884             Iron arrow           5            5        46800       0
886            Steel arrow          33           31        46427       2
557             Earth rune           5            4        45465       1
890          Adamant arrow          67           65        35140       2
1515              Yew logs         206          205        30251       1
2359           Mithril bar         645          646        27157       1
1436          Rune essence          13           12        21155       1
1987                Grapes         104          102        19094       2
888          Mithril arrow          23           22        19010       1
5525                 Tiara          93           96        18991       3
373              Swordfish         230          222        18432       8
...                    ...         ...          ...          ...     ...
1265        Bronze pickaxe         167          141            1      26
23288        Frog slippers      100000        84000            1   16000
1155      Bronze full helm          37           40            1       3
2942         Purple gloves         999          730            1     269
1949            Chef's hat         800          386            1     414
426            Priest gown           3           17            1      14
1075      Bronze platelegs         350          152            1     198
1097         Studded chaps         302          294            1       8
1698           Ruby amulet        1139         1138            1       1
1696        Emerald amulet         728          670            1      58
1773            Purple dye         419          350            1      69
1887              Cake tin         250          252            1       2
1105       Steel chainbody         297          237            1      60
1637         Sapphire ring         588          583            1       5
1125       Black platebody        3483         3251            1     232
1597        Necklace mould         300          138            1     162
1137         Iron med helm           7            6            1       1
2657     Zamorak full helm      279500       267500            1   12000
1442         Fire talisman        2481         2356            1     125
331             Raw salmon          38           37            1       1
2283            Pizza base         292          289            1       3
1007              Red cape         300           85            1     215
1365       Steel battleaxe         210          192            1      18
991              Muddy key        3297         2975            1     322
428            Priest gown          16           15            1       1
311                Harpoon         249          236            1      13
1321       Bronze scimitar         140           76            1      64
2615    Rune platebody (g)       89500        87964            1    1536
2621   Rune kiteshield (g)      118000       115000            1    3000
1295       Steel longsword         225          110            1     115

[315 rows x 5 columns]